<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dullfan.system.mappers.BoxUserSearchHistoryMapper">

    <!--实体映射-->
    <resultMap id="base_result_map" type="com.dullfan.system.entity.po.BoxUserSearchHistory">
        <!--主键-->
        <id column="id" property="id"/>
        <!--用户id-->
        <result column="user_id" property="userId"/>
        <!--搜索文案-->
        <result column="search_content" property="searchContent"/>
        <!--创建时间-->
        <result column="create_time" property="createTime"/>
        <!--更新时间-->
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!--通用查询列-->
    <sql id="base_column_list">
        id,
        user_id,
        search_content,
        create_time,
        update_time
    </sql>

    <!--基本查询条件-->
    <sql id="base_query_condition">
        <if test="query.id != null ">
            and id = #{query.id}
        </if>
        <if test="query.userId != null ">
            and user_id = #{query.userId}
        </if>
        <if test="query.searchContent != null and query.searchContent != ''">
            and search_content = #{query.searchContent}
        </if>
        <if test="query.createTime != null ">
            and create_time = #{query.createTime}
        </if>
        <if test="query.updateTime != null ">
            and update_time = #{query.updateTime}
        </if>
    </sql>

    <!--扩展查询条件-->
    <sql id="base_query_condition_extend">
        <if test="query.searchContentFuzzy != null and query.searchContentFuzzy != ''">
            and search_content like concat('%',#{query.searchContentFuzzy},'%')
        </if>
        <if test="query.createTimeStart != null ">
            and create_time >= #{query.createTimeStart}
        </if>
        <if test="query.createTimeEnd != null ">
            <![CDATA[and create_time < #{query.createTimeEnd}]]>
        </if>
        <if test="query.updateTimeStart != null ">
            and update_time >= #{query.updateTimeStart}
        </if>
        <if test="query.updateTimeEnd != null ">
            <![CDATA[and update_time < #{query.updateTimeEnd}]]>
        </if>
    </sql>

    <!--通用查询条件列-->
    <sql id="query_condition">
        <where>
            <include refid="base_query_condition"/>
            <include refid="base_query_condition_extend"/>
        </where>
    </sql>

    <!--查询列表-->
    <select id="selectList" resultMap="base_result_map">
        SELECT <include refid="base_column_list"/> FROM box_user_search_history <include refid="query_condition"/>
        <if test="query.orderBy!=null"> order by ${query.orderBy} </if>
        <if test="query.simplePage!=null"> limit ${query.simplePage.start},${query.simplePage.end} </if>
    </select>

    <!--查询数量-->
    <select id="selectCount" resultType="java.lang.Integer">
        select count(1) FROM box_user_search_history
        <include refid="query_condition"/>
    </select>

    <!--插入，匹配有值的字段-->
    <insert id="insert" parameterType="com.dullfan.system.entity.po.BoxUserSearchHistory"  useGeneratedKeys="true" keyProperty="id">
        insert into box_user_search_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.id != null">
                id,
            </if>
            <if test="bean.userId != null">
                user_id,
            </if>
            <if test="bean.searchContent != null and bean.searchContent != ''">
                search_content,
            </if>
            <if test="bean.createTime != null">
                create_time,
            </if>
            <if test="bean.updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.id != null">
                #{bean.id},
            </if>
            <if test="bean.userId != null">
                #{bean.userId},
            </if>
            <if test="bean.searchContent != null and bean.searchContent != ''">
                #{bean.searchContent},
            </if>
            <if test="bean.createTime != null">
                #{bean.createTime},
            </if>
            <if test="bean.updateTime != null">
                #{bean.updateTime},
            </if>
        </trim>
    </insert>

    <!--批量插入-->
    <insert id="insertBatch">
        INSERT INTO box_user_search_history (user_id,search_content,create_time,update_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userId},#{item.searchContent},#{item.createTime},#{item.updateTime})
        </foreach>
    </insert>


    <!--多条件修改-->
    <update id="updateByParam" parameterType="com.dullfan.system.entity.po.BoxUserSearchHistory">
        UPDATE box_user_search_history
        <set>
            <if test="bean.userId != null">
                user_id = #{bean.userId},
            </if>
            <if test="bean.searchContent != null and bean.searchContent != ''">
                search_content = #{bean.searchContent},
            </if>
            <if test="bean.createTime != null">
                create_time = #{bean.createTime},
            </if>
            <if test="bean.updateTime != null">
                update_time = #{bean.updateTime},
            </if>
        </set>
        <include refid="query_condition" />
    </update>

    <!--多条件删除-->
    <delete id="deleteByParam">
        DELETE FROM box_user_search_history
        <include refid="query_condition" />
    </delete>

    <!--根据Id查询-->
    <select id="selectById" resultMap="base_result_map">
        SELECT <include refid="base_column_list"/> FROM box_user_search_history WHERE id = #{id}
    </select>

    <!--根据Id删除-->
    <delete id="deleteById">
        DELETE FROM box_user_search_history WHERE id = #{id}
    </delete>

    <!--根据Id批量删除-->
    <delete id="deleteByIdBatch">
        DELETE FROM box_user_search_history WHERE id
        IN
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <!--根据UserIdAndSearchContentAndUpdateTime查询-->
    <select id="selectByUserIdAndSearchContentAndUpdateTime" resultMap="base_result_map">
        SELECT <include refid="base_column_list"/> FROM box_user_search_history WHERE user_id = #{userId} AND search_content = #{searchContent} AND update_time = #{updateTime}
    </select>

    <!--根据UserIdAndSearchContentAndUpdateTime删除-->
    <delete id="deleteByUserIdAndSearchContentAndUpdateTime">
        DELETE FROM box_user_search_history WHERE user_id = #{userId} AND search_content = #{searchContent} AND update_time = #{updateTime}
    </delete>

    <!--根据UserIdAndSearchContent查询-->
    <select id="selectByUserIdAndSearchContent" resultMap="base_result_map">
        SELECT <include refid="base_column_list"/> FROM box_user_search_history WHERE user_id = #{userId} AND search_content = #{searchContent}
    </select>

    <select id="selectByUserId" resultMap="base_result_map">
        SELECT <include refid="base_column_list"/>
        FROM box_user_search_history
        WHERE user_id = #{userId}
        ORDER BY create_time DESC
        LIMIT 10
    </select>


    <!--根据UserIdAndSearchContent删除-->
    <delete id="deleteByUserIdAndSearchContent">
        DELETE FROM box_user_search_history WHERE user_id = #{userId} AND search_content = #{searchContent}
    </delete>

</mapper>


